.bean-scene-coffee {
  background-color: #fffdfc;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.main-section {
  text-align: center;
  padding: 50px 0;
}

.coffee-types {
  padding: 50px 0;
}

.features-section {
  padding: 50px 0;
}

.footer {
  background-color: #442808;
  color: #ffffff;
  padding: 50px 0;
  width: 100%;
}

.footer-content {
  display: flex;
  justify-content: space-around;
  width: 100%;
}

.footer-content img {
  max-width: 100px;
}

.footer-content nav {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer-content nav p {
  margin: 5px 0;
}